@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*
Paleta de colores
https://coolors.co/1f2937-ffffff-d2d7df-3772ff-ed254e
*/

*{
    margin: 0%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header a{
    text-decoration: none;
}

header h1{
    font-weight: 700;
    color: #ffffff;
}


header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    background-color: #1f2937;
    align-items: center;
    color:#ffffff;
}


h2{
    color: #1f2937;
}


.headerContent{
    display: flex;
    gap: 20px;
}


.userHeader{
    display: flex;
    gap: 5px;
}


.userHeader button{
    background-color: #3772ff;
    width: 80px;
    height: 30px;
    border: 1px solid #3772ff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}


.userHeader button:hover{
    background-color: hsl(222, 100%, 81%);
}

#signUpBtn{
    background-color: #ffffff;
    color: #1f2937;
    font-weight: 700;
    border: #ffffff;
}

#signUpBtn:hover{
    background-color: hsl(215, 28%, 57%);
}


.mainSearch{
    display: flex;
    justify-content: center;
    align-items: center;

}


#headerSearch{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #3772ff;

}


.searchBtn{
    height: 35px;
    width: 30px;
    background-color: #3772ff;
    border: 1px solid #3772ff;
    margin-left: -5px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}


.searchBtn:hover{
    background-color: hsl(222, 100%, 81%);
    border: 1px solid #9ebbff;
}


.headerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3772ff;
    width: 100%;
    height: 40px;
   
}


.navBar{
    display: flex;
    gap: 10px;
    margin-left: 80px;
}


.navBar ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0%;
    margin-left: 40px;
}


.navBar ul a{
    text-decoration: none;
    color: #ffffff;
}


.navBar ul a:hover{
    color: #1f2937;
}


#cartBtn{
    width: 30px;
    height: 30px;
    margin-right: 120px;
    background-color: #1f2937;
    border: 2px solid #1f2937;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


#cartBtn:hover{
    background-color: hsl(215, 28%, 47%);
    border: 2px solid hsl(215, 28%, 47%);
}


#cartBtn img{
    height: 16px;
    width: 16px;
}


.userHeader{
    display: flex;
}

.welcome{
    height: calc(100vh - 130px);
    background-color: black;
    position: relative;
    background-image: url(indexIMG/mainIMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome::after {
    content: '';
    position: absolute;
    background: black;
    z-index: -1;
    inset: 0;
    opacity: .7;
    
}

.welcomeText{
    color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    text-align: center;
}

.welcomeText h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 0%;

}

.welcomeText p {
    font-size: 18px;
}

#justifyMainPageTXT{
    text-align: justify;
}

.callActionBtn{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #3772ff;
    color: #ffffff;
    border: 0px;
}

.callActionBtn:hover{
    cursor: pointer;
    background-color: #9ebbff;
}



.recommendationsSection{
    height: 550px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.divBoxes{
    display: flex;
    gap: 50px;
}


.imgContainerBox{
    height: 350px;
    width: 365px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px hsl(217, 17%, 75%);
}


.imgContainerBox img{
    height: 250px;
    max-width: 100%;
    max-height: 100%;
}


.imgContainerBox a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #3772ff;
    background-color: #3772ff;
    border-radius: 5px;
    padding: 6px;

}


.imgContainerBox a:hover{
    background-color: #9ebbff;
    border: 1px solid #9ebbff;
}


.randomItems{
    height: 550px;
    background-color: #3772ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.randomItems h2{
    color: #ffffff;
}



/* PRODUCTS PAGE */


.mainProducts{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.productsTitle{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


.productFilters{
    width: 20%;
}


.productsImgBox{
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 6px 5px #d2d7df;

}


.productsDiv{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}


.productsImgBox a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #3772ff;
    background-color: #3772ff;
    border-radius: 5px;
    padding: 6px;
}


.productsImgBox a:hover{
    border: 1px solid #9ebbff;
    background-color: #9ebbff;
}


.productsImgBox img{
    height: 120px;
    max-width: 100%;
    max-height: 100%;
}


/* SIGN UP PAGE */


.mainSgnUp{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    
}


.mainSgnUp h2{
    padding-bottom: 50px;
}


.signUpSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #ffffff;
    border: 2px solid #d2d7df;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px #d2d7df;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    
}


.signUpSection div input{
    width: 250px;
    height: 25px;
    border: 1px solid #3772ff;
    border-radius: 6px;
}


.signUpSection div h4{
    color: #1f2937;
    padding-bottom: 5px;
}


.signUpButton{
    display: flex;
    justify-content: center;
}


.signUpButton input{
    background-color: #3772ff;
    height: 30px;
    border: 1px solid #1f2937;
    border-radius: 5px;
    color: #ffffff;
}


.signUpButton input:hover{
    background-color: #9ebbff;

}



footer{
    height: 80px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footerIcons img{
    height: 30px;
}


.footerIcons{
    display: flex;
    gap: 100px;
}


@media (max-width:1024px) {

    .recommendationsSection,
    .randomItems{
        height: auto;
        padding: 20px;
    }

    .divBoxes{
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        padding-bottom: 20px;
    }
}

@media (min-width: 425px) and (max-width: 1023px) {

    header{
        height: auto;
        flex-wrap: wrap;
    }


    #cartBtn{
        margin-right: 0%;
    }

    .userHeader,
    h1{
        padding: 15px;
    }

    .navBar{
        margin-left: 0%;
    }

    .navBar ul{
        margin-left: 0%;
    }

    .headerLinks{
        justify-content: space-evenly;
    }


    .signUpSection{
        width: 360px;
    }

    .welcomeText{
        gap: 60px;
        width: 85%;
    }

}

@media (max-width: 424px) {
    header{
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 13px;
    }

    h1{
        margin-top: 10px;
    }

    #headerSearch{
        width: auto;
    }

    .headerLinks{
        height: 50px;
    }

    .navBar{
        margin-left: 0%;
    }

    .navBar ul{
        margin-left: 8px;
    }

    #cartBtn{
        margin-right: 8px;
    }


    .welcomeText{
        gap: 60px;
        width: 85%;
    }

    .imgContainerBox {
        height: 270px;
        width: 280px;
    }

    .imgContainerBox img {
        height: 150px;
    }


    .userHeader{
        margin-bottom: 20px;
    }

    .footerIcons{
        gap: 50px;
    }


    .signUpSection{
        width: 300px;
    }
}

@media (max-width:1440px) {

    .recommendationsSection,
    .randomItems{
        height: auto;
        padding: 50px;
    }

    .divBoxes{
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        padding-bottom: 50px;
    }
}
